<div class="flex flex-row gap-10 mx-5">
  <div class="flex-none">
    <div class="border-r border-accent-content/10 space-y-2 pr-5">
      <input class="input input-sm w-full input-bordered input-primary max-w-xs"
             placeholder="Search coins"
             type="text"/>
      <div class="overflow-hidden hover:overflow-y-auto"
           style="max-height: calc(100vh - 150px);min-width: 180px">
        <table class="table table-pin-rows">
          <div *ngIf="!coinList">
            <span class="loading loading-ring loading-lg"></span>
          </div>
          <div *ngFor="let group of coinList">
            <thead>
            <tr>
              <!-- 使用 *ngFor 指令遍历所有分组的名称，并将它们输出到表头中 -->
              <th>{{ group.type }}</th>
            </tr>
            </thead>
            <tbody *ngFor="let data of group.data"
                   class="w-full">
            <tr [routerLinkActive]="['bg-accent']"
                [routerLink]="['/chart', data.name]"
                class="hover:bg-accent cursor-pointer">
              <td class="rounded-xl"
                  style="min-width: 180px">{{ data.name }}</td>
            </tr>
            </tbody>
          </div>
        </table>
      </div>
    </div>
  </div>

  <div class="grow"
       style="height: calc(100vh - 180px);">
    <router-outlet></router-outlet>
  </div>

  <div class="space-y-2 w-64 border-l pl-5">
    <div>
      <div *ngIf="lastKline?.s === symbol">
        Real-time price: {{lastKline?.c}}
      </div>
      <div class="border-b pb-1"
           translate>
        Signal - Delay 1 hour
      </div>
      <!--      <p class="text-accent-content/50 pt-1 text-xs" translate>-->
      <!--        You can follow our real-time trading bot directly on OKX or Binance platform for free.-->
      <!--      </p>-->
    </div>
    <div *ngFor="let item of signals;let i = index;">
      <div
        (click)="clickSignal(i)"
        [ngClass]="{'shadow-md': i === 0, 'border-success hover:shadow-success/50': item.direction === 1, 'border-error hover:shadow-error/50': item.direction === -1}"
        class="alert cursor-pointer hover:shadow-md">
        <div>
          <h3 class="font-bold">{{item.name}}</h3>
          <div class="text-xs">{{dayjs(item.created_at).format('YYYY-MM-DD HH:mm')}} </div>
        </div>
      </div>

    </div>
  </div>
</div>
