<div *ngIf="show" aria-labelledby="modal-title" aria-modal="true" class="relative z-10 fixed" role="dialog">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-center w-full justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative  w-full  transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="text-right">
          <button (click)="close()" class="btn btn-square">
            <svg fill="none" height="24" viewBox="0 0 48 48" width="24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M24 44C35.0457 44 44 35.0457 44 24C44 12.9543 35.0457 4 24 4C12.9543 4 4 12.9543 4 24C4 35.0457 12.9543 44 24 44Z"
                fill="none" stroke="#333" stroke-linejoin="round" stroke-width="4"/>
              <path d="M29.6567 18.3432L18.343 29.6569" stroke="#333" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="4"/>
              <path d="M18.3433 18.3432L29.657 29.6569" stroke="#333" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="4"/>
            </svg>
          </button>

        </div>
        <div class="flex min-h-full flex-col justify-center p-6 lg:px-8  mb-10 space-y-4">

          <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img alt="Your Company" class="mx-auto h-10 w-auto"
                 src="assets/fiappLogo.webp">
            <h2 class="text-center text-2xl font-bold leading-9 tracking-tight" translate>加入社区获取免费实时的买卖信号
            </h2>
          </div>

          <div class=" sm:mx-auto sm:w-full sm:max-w-sm space-y-5">
            <div class="outline rounded px-2">
              <label class="block text-sm font-medium leading-6" translate>绿色韭菜QQ群 912892769</label>
            </div>

            <div class="outline rounded px-2 cursor-pointer">
              <label (click)="window.open('https://www.kookapp.cn/app/invite/14JUwd', '_black')"
                     class="block text-sm font-medium leading-6"
                     translate>Kook（大陆用户推荐）</label>
            </div>

            <div class="outline rounded px-2 cursor-pointer">
              <label (click)="window.open('https://discord.gg/J2CkCMdBgK', '_black')"
                     class="block text-sm font-medium leading-6"
                     translate>Discord（海外用户推荐）</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
