.MuiDataGrid-cell {
    border-top: 1px solid #e0e0e0 !important;
    border-left: 1px solid #e0e0e0 !important;
}

.chart-app {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.chart-container {
    flex: 1;
}

html body {
    height: 100% !important;
    background-color: #f2f2f2;
}